<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">作業清單</h2>
    </div>
  </div>
</div>

<!-- hw not finished -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h4>未完成</h4>
    </div>
  </div>

  <!--file path: homeworks/_list.html.erb-->
  <!--hasn't finished hw-->
  <%= render partial: 'homeworks/list', locals: { homeworks: @not_finisheds } %>
</div>

<br>
<!-- hw finished -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h4>已完成</h4>
    </div>
  </div>

  <!--finished hw-->
  <%= render partial: 'homeworks/list', locals: { homeworks: @finisheds } %>
  <p><%= flash[:notice] %></p>
</div>
