// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
::-webkit-scrollbar { 
    display: none; 
}

.self_nav-right {
	margin-right: 40px;
}

